body{
	font-family: sans-serif;
}

    .container {
        width: 300px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

table{
	margin-top: 25px;
}
.editing .edit {
	display: block;
	width: 75px;
	padding: 5px 5px 5px 5px;

}

.editing {
	border-bottom: none;
	padding: 0;
}

.editing .view {
	display: none;
}

.edit {
	display: none;
}*/